<div>
  <h1>User Profile</h1>
  <p>Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>
  <p>Role: <%= user.role %></p>
  <p>Password: <%= user.password %></p>
  <p>Created At: <%= formatUpdated(user.created_at) %></p>
</div>
